In [1]:
salary = 1000
expense = 200

name = "James"
interest_rate = 0.04

In [2]:
def print_savings_details():
    
    print("Name on account: ", name)
    
    savings = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [3]:
print_savings_details()

Name on account:  James
Savings:  800
Interest rate:  0.04

In [4]:
def print_savings_details(name, salary, expense, interest_rate):
    
    print("Name on account: ", name)
    
    savings = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [5]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  James
Savings:  800
Interest rate:  0.04

In [6]:
print_savings_details("Julie", 10000, 2000, 0.02)

Name on account:  Julie
Savings:  8000
Interest rate:  0.02

In [7]:
def print_savings_details(name, salary, expense, interest_rate):
    
    print("Name on account: ", name)
    
    expense = expense + 100
    
    savings = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [9]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  James
Savings:  700
Interest rate:  0.04

In [10]:
name, salary, expense, interest_rate

('James', 1000, 200, 0.04)

In [12]:
def print_savings_details(name, salary, expense, interest_rate):
    
    name = "Harish"
    print("Name on account: ", name)
    
    salary = salary * 2
    expense = expense + 100
    
    savings = salary - expense
    print("Savings: ", savings)
    
    interest_rate = 0.09
    print("Interest rate: ", interest_rate)

In [13]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  Harish
Savings:  1700
Interest rate:  0.09

In [14]:
name, salary, expense, interest_rate

('James', 1000, 200, 0.04)

In [15]:
#Changes made to the local variables are not reflected in the global variables

In [16]:
fruits_list = ["Apple","Grapes","Mango","Bananas"]

In [17]:
def change_list(fruits_list):
    
    fruits_list = ["Kiwi","Strawberry"]
    
    print("Inside the function: ", fruits_list)
    
change_list(fruits_list)
print()
print("Outside the function: ", fruits_list)

Inside the function:  ['Kiwi', 'Strawberry']

Outside the function:  ['Apple', 'Grapes', 'Mango', 'Bananas']

In [18]:
fruits_list = ['Apple','Grapes']

In [20]:
change_list(fruits_list)

Inside the function:  ['Kiwi', 'Strawberry']

In [22]:
fruits_list

['Apple', 'Grapes']

In [23]:
fruits_tuple = ("Apple","Grapes","Mango","Bananas")

In [24]:
def change_tuple(fruits_tuple):
    
    fruits_tuple = ("Kiwi","Strawberry")
    
    print("Inside the function: ", fruits_tuple)
    
change_tuple(fruits_tuple)
print()
print("Outside the function: ", fruits_tuple)

Inside the function:  ('Kiwi', 'Strawberry')

Outside the function:  ('Apple', 'Grapes', 'Mango', 'Bananas')

In [25]:
def change_tuple(fruits_tuple):
    
    fruits_tuple = "This is not even a tuple"
    
    print("Inside the function: ", fruits_tuple)
    
change_tuple(fruits_tuple)
print()
print("Outside the function: ", fruits_tuple)

Inside the function:  This is not even a tuple

Outside the function:  ('Apple', 'Grapes', 'Mango', 'Bananas')

# fruits_tuple has been passed in by value - The value of the original tuple remains unchanged even when you have changed the value inside the function - This is passing by value

In [26]:
car_speeds_dictionary = {
    "Swift": 180,
    "Hector": 240,
    "Audi": 320,
    "Ferrari" : 380
}

In [27]:
def change_dictionary(car_speeds_dictionary):
    
    car_speeds_dictionary = {
        "Bugatti" : 450
    }
    
    print("inside the function: ", car_speeds_dictionary)

In [28]:
change_dictionary(car_speeds_dictionary)

inside the function:  {'Bugatti': 450}

In [29]:
car_speeds_dictionary

{'Swift': 180, 'Hector': 240, 'Audi': 320, 'Ferrari': 380}